extends layout

block content

    h3 Statistics

    unless jobs[0]
        p No jobs scheduled

    if jobs[0]
        table.table
            tr
                th Name
                th Running?
                th Time
                th in (sec.)
                th Cron
            for row in jobs
              tr
                td #{row.name}
                td #{row.running}
                td #{row.cronTime.sendAt()}
                td #{row.cronTime.getTimeout()/1000}
                td #{row.cronTime}