extends layout

block content
  h1= title
  p Welcome to #{title}

  for row in jobs
    p #{row.name} : fire == #{row.running} at #{row.cronTime.sendAt()} in  #{row.cronTime.getTimeout()/1000} sec on #{row.cronTime}
