extends layout

block content
    h1 #{title}: #{stat} for #{station}



    div#chart(style="width:900px;height:300px")

    table
        tr
            th Station
            th Min
            th Max
            th Avg
            th Last
        tr
            td #{station}
            td
                span#min
                //span &nbsp
                span#sym1
            td
                span#max
                span#sym2
            td
                span#avg
                span#sym3
            td
                span#last
                span#sym4

    script.
        var plotdata = #{JSON.stringify(data)};
        var clabel = "#{station}";
        var statType = "#{stat}";
        var sym = "";

        switch(statType) {
            case "temp":
                sym = "&deg;C";
                break;
            case "press":
                sym = "mmHg";
                break;
            case "rain":
                sym = "mm";
                break;
            case "hum":
                sym = "%";
                break;
        };

        $("#last").text(plotdata[plotdata.length-1][1]);
        $("#min").text(Math.min.apply(null, plotdata.map(function(e) { return e[1]; })));
        $("#max").text(Math.max.apply(null, plotdata.map(function(e) { return e[1]; })));

        var sum = plotdata.map(function(e) { return e[1]; }).reduce(function (a,b) { return a + b; });

        $("#avg").text(Math.round(sum/plotdata.length*10)/10); //round to 1 d.p.

        $("#sym1").html(sym);
        $("#sym2").html(sym);
        $("#sym3").html(sym);
        $("#sym4").html(sym);

        $.plot($("#chart"), [ { label: clabel, data: plotdata } ], {
            colors: ["red", "yellow", "blue"],
            xaxis: { mode: "time", timezone: "browser", timeformat: "%a %H:%M" },
            yaxis: { },
            shadowSize: 4,
            legend: { show: true },
            lines: { show: true },
            points: { show: false }
        });




//    table
//        tr
//            th Date/time
//            th Data
//
//        for row in data
//            tr
//                td #{row[0]}
//                td #{row[1]}